@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>POKER GAME</h1>
    <p><h2>@ViewBag.MessageResult</h2></p>
    <p>@ViewBag.MessageCards</p>
    <p>@ViewBag.MessageRank</p>
    <p><button class="btn btn-primary btn-lg" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Draw a card</button></p>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
